<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>管理后台</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        
        <!-- 可选的Bootstrap主题文件（一般不用引入） -->
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link href="Public/admin/css/dashboard.css" rel="stylesheet">
        
        
        <link href="Public/bootstrap/css/bootstrap-responsiv.css" rel="stylesheet">
        <link href="Public/bootstrap/css/dataTables.bootstrap.min.css" rel="stylesheet">
        
        
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

        <!-- Latest compiled and minified Locales -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/locale/bootstrap-table-zh-CN.min.js"></script>
        
        <script src="Public/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
        <script src="Public/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
        <link href="Public/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
        
        <script src="Public/bootstrap-datepicker/js/bootstrap-table-export.min.js"></script>
        <script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
        
        <script src="Public/bootstrap-datepicker/js/bootstrap-table-filter-control.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">管理后台</a>
        </div>
        <include file="./Public/admin/navbar.html" keywords="1" />
          
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <include file="./Public/admin/menu.html" keywords="2" />
        <!--正式内容开始-->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ">
          
           
          <h2 class="sub-header">会员列表</h2>
          <div class="input-group input-daterange">
              <span class="input-group-addon">我要找从</span>
                <input type="text" class="form-control" value="{$today|date='Y/m/d',###}" name="start">
                <span class="input-group-addon">到(如果只要一天数据,请留空结束时间.)</span>
                <input type="text" class="form-control" value="" name="end">
                <span class="input-group-addon">的数据</span>

            </div>
          <br/>
          
          <a class="btn btn-default submit" href="javascript:void(0)" role="button">筛选</a> | <a class="btn btn-default today" href="javascript:void(0)" role="button">今天的数据</a>
          
          
<!--          <div id="toolbar">
            <button id="button" class="btn btn-default">getOptions</button>
        </div>-->
          <div id="table"></div>
          
          
          <!--page-->
        </div>
        <!--正式内容结束-->
      </div>
    </div>
        
        
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">提示</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer" style="display: none;">
        <button type="button" class="btn btn-default" data-dismiss="modal">知道了</button>
      </div>
    </div>
  </div>
</div>
        
    </body>
        <script src="Public/bootstrap/js/jquery.dataTables.min.js" type="text/javascript" language="javascript"></script>
    <script src="Public/bootstrap/js/dataTables.bootstrap.min.js" type="text/javascript" language="javascript"></script>
    <script>
    $('#table').bootstrapTable({
    url: '?m=Center&c=Admin&a=articleList&action=getdata',
    sidePagination:'client',
    silentSort:true,
    pagination:true,
    pageSize:20,
    search:true,
    showExport:true,
    filterControl:true,
//    clickToSelect:true,
    columns: [{
        field: 'id',
        title: 'ID',
        sortable: true,
//        checkbox:true
    },{
        field: 'title',
        title: '标题',
        sortable: true,
    },{
        field: 'content',
        title: '内容'
    },{
        field: 'timeline',
        title: '修改时间',
        sortable: true,
    },{
        formatter: 'actionFormatterDelete',
        events:'actionEventsDelete',
        title: '删除',
    },{
        formatter: 'actionFormatterAmend',
        events:'actionEventsAmend',
        title: '修改',
    }]
});

$('.input-daterange input').each(function() {
    $(this).datepicker({
        'todayHighlight':true,
        'startDate':'2015/5/5',
        'format':'yyyy/mm/dd',
        'language':'zh-CN',
        'todayBtn':true,
        'autoclose':true
    });
});
$(".submit").click(function(){
    $('#table').bootstrapTable('refresh', {url: '?m=Center&c=Admin&a=articleList&action=getdata&start='+$("input[name='start']").val()+'&end='+$("input[name='end']").val()});
});

$(".today").click(function(){
    $('#table').bootstrapTable('refresh', {url: '?m=Center&c=Admin&a=articleList&action=getdata&today'});
});

$(".userid").click(function(){
    $('#table').bootstrapTable('refresh', {url: '?m=Center&c=Admin&a=articleList&action=getdata&userid='+$("input[name='userid']").val()});
    $("input[name='table']").val('');
});
$(".orderid").click(function(){
    $('#table').bootstrapTable('refresh', {url: '?m=Center&c=Admin&a=articleList&action=getdata&orderid='+$("input[name='orderid']").val()});
    $("input[name='userid']").val('');
});
$('#button').click(function () {
//    var json = JSON.stringify($('#table').bootstrapTable('getSelections'));
    var arr = $('#table').bootstrapTable('getSelections');
    arr.forEach(function(e){  
        console.log(e.nickname);
    })  
//            alert($('#table').bootstrapTable('getSelections'));
        });
        
        
    function actionFormatterDelete(value, row, index) {
        return [
            '<button class="btn btn-primary resend">删除</button>'
        ].join('');
    }

    window.actionEventsDelete = {
        'click .resend': function (e, value, row, index) {
            if(confirm("确定要删除数据吗？"))
            {
//                alert(row.id);
                
                $.ajax({
                    cache: true,
                    type: "POST",
                    url:"?m=Center&c=Admin&a=articleList",
                    data:{'action':'delete','id':row.id},// 序列号formid
                    async: false,
                    dataType: 'json',
                    error: function(request) {
                    },
                    success: function(data) {
                        console.log(data);
                        alert('操作成功,请自己刷新页面.');
                        if (data.error == 0) {
                            $('#table').bootstrapTable('remove', {field: 'id', values: row.id});
                        }else{
                            alert(data.msg);
                        }
                    },
                    beforeSend: function(){
                    },
                   complete: function(){
                    }
                });
                
            }
            
//            console.log(value, row, index);
        }
    };
    
    function actionFormatterAmend(value, row, index) {
        return [
            '<button class="btn btn-primary resend">修改</button>'
        ].join('');
    }

    window.actionEventsAmend = {
        'click .resend': function (e, value, row, index) {
//            alert('重新发送该邀请, row: ' + JSON.stringify(row));
            window.open("?m=Center&c=Admin&a=article&id="+row.id);
//            console.log(value, row, index);
        }
    };
    </script>
</html>
