/* common*/
.common-container {
  width: 1280px;
  margin: 0 auto;
}

/* header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  background-color: #fff;
  border-bottom: 1px solid #e4e4e4;
  z-index: 100;
}
.header-logo {
  float: left;
  height: 56px;
  line-height: 56px;
  margin-left: 59px;
}
.header-logo a {
  float: left;
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url(../images/header-logo.png) left center no-repeat;
  margin: 13px 11px 12px 0; 
}
.header-logo p {
  float: left;
  display: inline-block;
  font-size: 20px;
  height: 24px;
  line-height: 24px;
  margin-top: 16px;
}

.header-nav {  
  float: right;
  height: 56px;
  margin-right: 44px;
}

.header-nav .item {
  float: left;
  position: relative;
  text-decoration: none;
}

.header-nav .item:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 3px;
  background: #ea6664;
  transition: all 0.5s ease;
}

.header-nav .item:hover:before {
  width: 100%;
  left: 0;
}

.header-nav .item a {
  display: block;
  padding: 18px 23px;
  line-height: 16px;
  font-size: 16px;
  text-decoration: none;
  color: #787b83;
}

.header-nav .login {
  background: url(../images/person.png) 5px center no-repeat;
}

.header-nav .login a {
  color: #ea6664;
}


/* banner */

.banner {
  position: relative;
}

.banner .banner-bg {
  height: 689px;
  overflow: hidden;
}

.banner .banner-text {
  position: absolute;
  color: #fff;
  top: 206px;
  left: 116px;
}

@-webkit-keyframes type {
  0% { 
    width: 0;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
}

.banner .banner-text1 {
  width: 368px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 3s steps(16, end) 0s 1;
  animation: type 3s steps(16, end) 0s 1;
  height: 96px;
  line-height: 96px;
  font-size: 46px;
}

.banner .banner-text2 {
  width: 320px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: type 3s steps(20, end) 0s 1;
  animation: type 3s steps(20, end) 0s 1;
  height: 64px;
  line-height: 32px;
  font-size: 22px;
  margin-left: 8px;
}

.banner .banner-button {
  margin-top: 60px;
  margin-left: 8px;
  background: #e74f4d;
}

.banner .banner-button a {
  display: block;
  width: 160px;
  padding: 16px 100px;
  text-align: center;
  font-size: 28px;
  text-decoration: none;
  color: #fff;
}

.banner .banner-button:hover {
  background: #E43809;
}



/* list */

@keyframes scal {
  from{
    -webkit-transform: scale(1, 1);
  }
  to{
    -webkit-transform: scale(1.1, 1.1);
  }
}
@-webkit-keyframes scal {
  from{
    -webkit-transform: scale(1, 1);
  }
  to{
    -webkit-transform: scale(1.1, 1.1);
  }
}

.list {
  height: 250px;
  overflow: hidden;
} 

.list_content {
  float: left;
  width: 25%;
  padding-top: 46px;
  text-align: center;
}

.list_content img{
  transform: scale(1,1);
  -webkit-transform: scale(1, 1);
  animation: scal 3s ease infinite alternate;
  -webkit-animation: scal 3s ease infinite alternate;
}

.list_content p {
  position: relative;
  top: 150px;
  width: 154px;
  margin: 44px auto 0;
  line-height: 18px;
  font-size: 14px;
  color: #777;
  transition: all 2s ease;
}

.list_content .list-line {
  position: absolute;
  left: 236px;
  top: 0;
  height: 50px;
  width: 2px;
  background: #ccc;
}

/* logo-title */

.logo-title {
  height: 360px;
  text-align: center;
  background: #ededed;
}

.logo-title img {
  padding-top: 90px;
}

.logo-title img:hover {
  transform: scale(1.1);
}

.logo-title p {
  margin-top: 40px;
  height: 70px;
  line-height: 70px;
  font-size: 50px;
  color: #a1a1a1;
}

/* city-search */

.city-search {
  min-height: 341px;
  background: url(../images/map.jpg) no-repeat;
  text-align: center;
  color: #fff;
}

.city-search-text {
  position: relative;
  padding-top: 48px;
}

.city-search h3 {
  height: 26px;
  line-height: 26px;
  font-size: 22px;
  font-weight: 400;
}

.city-search .h3-line, .volunteer .h3-line {
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: 80px;
  width: 30px;
  height: 3px;
  background: #fff;
}

.city-search p {
  margin-top: 26px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #eaeaea;
}

.city-search-list {
  display: block;
  margin-left: 182px;
  margin-top: 48px;
}

.city-search-list .search-items {
  float: left;
  position: relative;
  width: 200px;
  height: 34px;
  line-height: 34px;
  margin-right: 28px;
  padding-left: 10px;
  font-size: 14px;
  color: #777;
  appearance: none; 
  -moz-appearance: none; 
  -webkit-appearance: none;
  background: #fff url(../images/envelope-icon.png) 175px center no-repeat;
}

.city-search-list a {
  float: left;
  display: inline-block;
  width: 236px;
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background: #be4e48;
}


.search-items .select-item {
  height: 14px;
  padding: 10px;
  font-size: 14px;
  color: #89898a;
}

/* city-activity */

.city-activity {
  height: 600px;
  background: #f7f7f7;
}

.city-activity .activity-menu {
  padding-top: 100px;
  overflow: hidden;
}

.activity-menu ul {
  width: 1020px;
  padding-left: 35px;
  margin: 0 auto;
}

.activity-menu .menu-item {
  float: left;
  width: 220px;
  text-align: center;
  margin-right: 35px;
}

.activity-menu .activity-img {
  display: table-cell;
  vertical-align: middle;
  height: 336px;
  border: 1px solid #dadada;
  box-shadow: 2px 2px 2px 0 #ccc;
}


.activity-menu .activity-img img {
  padding: 0 10px;
  cursor: crosshair;
  transition: transform 2s;
  -moz-transition: -moz-transform 2s;
  -webkit-transition: -webkit-transform 2s;
  -o-transition: -o-transform 2s;
}
.big{
  z-index: 2;
  transform:scale(1.1,1.1);
  -ms-transform:scale(1.1,1.1); /* IE 9 */
  -moz-transform:scale(1.1,1.1); /* Firefox */
  -webkit-transform:scale(1.1,1.1); /* Safari and Chrome */
  -o-transform:scale(1.1,1.1); /* Opera */
}
.normal{
  transform:scale(1,1);
  -ms-transform:scale(1,1); /* IE 9 */
  -moz-transform:scale(1,1); /* Firefox */
  -webkit-transform:scale(1,1); /* Safari and Chrome */
  -o-transform:scale(1,1); /* Opera */
}

/*.activity-menu .activity-img:hover img {
  z-index: 10;
  -weikit-transform-origin:left top; 
  transform-origin:left top;
  transform:rotate(10deg); 
  -moz-transform:rotate(10deg);
  opacity: 0.8;
  transition: all 0.5s ease;
}*/

.activity-menu .activity-info h4 {
  height: 28px;
  line-height: 28px;
  padding: 6px 0;
  font-size: 16px;
  font-weight: 400;
  color: #313233;
}

.activity-info .info-name {
  font-size: 14px;
  color: #999;
}

.activity-menu .active h4 {
  height: 28px;
  line-height: 28px;
  padding: 0;
  font-size: 20px;  
  letter-spacing: 30px;
  text-indent: 20px;
}

.activity-menu .active .info-name {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  padding-bottom: 4px;
}

/* newworld */

.newworld {
  position: relative;
  height: 568px;
  overflow: hidden;
}

.newworld .newworld-logo {
  float: left;
  position: relative;
  width: 852px;
  height: 568px;
  color: #fff;
  text-align: center;
}

.newworld .logo-info.hover {
  left: 50%;
}

.newworld .logo-info {
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease;
}


.newworld .logo-info h2 {
  height: 66px;
  line-height: 66px;
  font-size: 46px;
  font-weight: 400;
}

.newworld .logo-info .logo-text {
  width: 368px;
  height: 119px;
  overflow: hidden;
  background: url(../images/Time.png);
  margin-bottom: 26px;
}

.newworld .logo-info p {
  height: 88px;
  line-height: 44px;
  font-size: 20px;
}

.newworld .img-tips {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  background: #222530;
}

.newworld .img-tips:after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 25px solid #fff;
}

.newworld .newworld-text {
  float: left;
  position: relative;
  width: 428px;
}

.newworld .newworld-text ul {
  position: absolute;
  width: 300px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: 160px;
  text-align: center;
  opacity: 0;
  transition: all 0.5s ease;
}

.newworld .newworld-text ul.active {
  opacity: 1;
}


.newworld .text-title {
  height: 36px;
  line-height: 36px;
  margin-bottom: 15px;
  font-size: 22px;
  color: #333;
  font-weight: 600;
}

.newworld .text-title span {
  color: #e7504d;
}

.newworld .text-content {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #b7b7b7;
  text-align: left;
}

.newworld .text-more {
  width: 104px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e5676a;
  margin: 130px auto 0;
  font-size: 12px;
  color: #e5676a;
}

.newworld .btn-group {
  position: absolute;
  top: 320px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 12px;
  padding-left: 12px;
  font-size: 0;
}

.newworld .btn-group .btn {
  display: inline-block;
  margin-right: 14px;
  width: 9px;
  height: 10px;
  border: 1px solid #929292;
  background: #fff;
  border-radius: 50%;
}

.btn-group .btn.selected {
  background: #929292;
}


/* newage */

.newage {
  height: 520px;
  overflow: hidden;
}

.newage .newage-item {
  float: left;
  width: 426px;
  height: 520px;
  text-align: center;
  background: #e74f4d;
  color: #fff;
  transition: all 1s;
}

.newage .newage-item:first-of-type:hover {
  background: linear-gradient(to bottom right, #000, #f00 50%, #090);
}

.newage .newage-item:nth-of-type(2):hover {
  transform: rotateY(360deg);
}

.newage .nobgColor {
  background: #fff;
}

.newage .newage-item p {
  height: 64px;
  line-height: 32px;
  margin-top: 165px;
  font-size: 20px;
}

.newage .newage-item .p-line {
  display: block;
  width: 30px;
  height: 2px;
  margin: 20px auto 25px;
  background: #fff;
}

.newage .newage-item a {
  display: block;
  margin: 0 auto;
  width: 166px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
}

.newage .nobgColor {
  color: #000;
}

.newage .nobgColor .p-line {
  background-color: #000;
}

.newage .nobgColor a {
  border:1px solid #e74f4d;
  color: #e74f4d;
}

@keyframes bgimg {
  0% {
    background-image: url(../images/newage1.jpg);
  }
  33% {
    background-image: url(../images/newage2.jpg);
  }
  66% {
    background-image: url(../images/newage3.jpg);
  }
  100% {
    background-image: url(../images/newage1.jpg);
  }
}

.newage .newage-img {
  float: left;
  position: relative;
  width: 428px;
  height: 520px;
  -moz-animation: bgimg 15s infinite; /* Firefox */
  -webkit-animation: bgimg 15s infinite; /* Safari and Chrome */
  animation: bgimg 15s infinite;
}

.newage .newage-img .img-tips {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
}

/* volunteer */

.volunteer {
  height: 750px;    
}

.volunteer .volunteer-main {
  position: relative;
  padding-top: 110px;
  text-align: center;
}

.volunteer .main-title h3 {
  height: 28px;
  line-height: 28px;
  margin-bottom: 26px;
  font-size: 24px;
  color: #313233;
  font-weight: 400;
}

.volunteer .h3-line {
  background: #eb524f;
  top: 148px;
}

.volunteer .main-title p {
  height: 36px;
  line-height: 18px;
  font-size: 14px;
  color: #aaa;
}

.volunteer .main-content {
  width: 1070px;
  margin: 0 auto;
  overflow: hidden;
  padding: 104px 15px 0;
}

.volunteer .content-rule-menu {
  float: left;
  width: 320px;
  overflow: hidden;
  margin-right: 60px;
}

.volunteer .item {
  text-align: left;
  overflow: hidden;
  padding-bottom: 24px;
}

.volunteer .item-last {
  padding-bottom: 0;
}

.volunteer .item h4 {
  height: 20px;
  line-height: 20px;
  padding-bottom: 14px;
  font-size: 16px;
  color: #666160;
}

.volunteer .item p {
  height: 44px;
  line-height: 22px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #9d9b9a;
}

.volunteer .item .more {
  float: right;
  display: block;
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  color: #9d9b9a;
  padding-left: 15px;
  background: url(../images/down_icon.png) left 8px no-repeat;
  cursor: pointer;
}

.volunteer .content-form {
  float: right;
  width: 660px;
}

.volunteer .content-form input, .volunteer .content-form textarea {
  float: left;
  width: 294px;
  height: 38px;
  line-height: 38px;
  background: #ededee;
  margin-right: 20px;
  margin-bottom: 16px;
  padding-left: 16px;
  font-size: 12px;
  color: #666;
}

.volunteer .content-form textarea {
  width: 624px;
  height: 110px;
  padding-top: 8px;
}

.volunteer .content-form .submit {
  width: 640px;
  font-size: 14px;
  color: #000;
  margin-bottom: 0;
}

/* contact */

.contact {
  height: 360px;
  background-color: #32353e;
  color: #fff;
  border-top: 1px solid #e4e4e4;
  text-align: center;
}

.contact-item {
  margin-top: 85px;
  margin-bottom: 72px;
}

.contact .contact-item1 {
  line-height: 32px;
  height: 32px;
  font-size: 20px;
}

.contact .contact-item2 {
  font-size: 12px;
  line-height: 20px;
  height: 40px;
}

.contact .contact-item3 {
  margin-top: 24px;
  font-size: 0;
}

.contact .contact-item3 .contact-form {
  width: 510px;
  margin: 0 auto;
  overflow: hidden;
}

.contact .contact-item3 span {
  float: left;
  display: inline-block;
  height: 40px;
}
.contact .contact-item3 input {
  width: 420px;
  height: 40px;
  line-height: 40px;
  color: #999;
  font-size: 14px;
  padding-left: 10px;
  background: #fff;
}
.contact .contact-item3 a {
  display: inline-block;
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  background: #6f7178;
}

.contact .contact-item4 {
  margin-top: 36px;
}

.footer {
  height: 58px;
  background: #303039;
}

.footer p {
  float: left;
  color: #fff;
  margin-left: 100px;
  margin-top: 26px;
  line-height: 18px;
  font-size: 14px;
}

.footer a {
  display: block;
  float: right;
  text-decoration: none;
  color: #fff;
  margin-right: 38px;
  margin-top: 16px;
}
  