@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-05-28 14:03:48
 * @version $Id$
 */
body {
	font-family: "Velvetica","Arial",sans-serif;
	background-color: #fff;
	color: #000;
}
table {
	margin: auto;
	border: 1px solid #699;
}
caption {
	margin: auto;
	padding: .2em;
	font-size: 1.2em;
	font-weight: bold;
}
th {
	font-weight: normal;
	font-style: italic;
	text-align: left;
	border: 1px dotted #699;
	background-color: #9cc;
	color :#000;
}
th,td {
	width: 10em;
	padding: .5em;
}
.jsodd {
	background-color: #ffc;
}