<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>二维码</title>
        <link rel="stylesheet" href="./Public/Profile/css/frozen.css">
        <script src="./Public/Profile/js/lib/zeptojs/zepto.min.js"></script>
        <script src="./Public/Profile/js/frozen.js"></script>
        <script src="./Public/wxmenu.js"></script>
    </head>
    <body ontouchstart>
        <input type="hidden" name="openid" value="{$Think.get.openid}" />
<header class="ui-header ui-header-positive ui-border-b" style="background-color: #fb2e39; ">
            <i class="ui-icon-return" onclick="history.back()"></i><h1>分享二维码</h1>
            <button class="ui-btn index" style="color: #fb2e39;">回首页</button>
        </header>
        <section class="ui-container" >
            <ul class="ui-list ui-list-pure ui-border-tb">
            <li class="ui-border-t">
                <p><span>长按下面图片保存到手机</span></p>
            </li>
        </ul>
            <div class="ui-btn-wrap" style="text-align: center;"><img src="./QRcode/{$Think.session.openid}_p.jpg" width="300"/></div>
            
        </section>
        
        <script>
            $('.pay').click(function(){
                location.href= '?m=Center&c=Profile&a=member&action=pay';
            });
            $('.index').click(function(){
                location.href= '?m=Center&c=Profile';
            });
        $('.qrcode').click(function(){
            
            $.ajax({
                type: 'GET',
                url: "?m=Center&c=Index&a=getQRcode",
                data: {'openid':$("input[name='openid']").val()},
                success: function(result){
                                    alert(result);
                },
                dataType: 'html'
            }); 
        });
        
        </script>
    </body>
</html>