<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <title>开麦主持</title>
        <link rel="stylesheet" href="./Public/frozenui/css/frozen.css">
        <script src="./Public/frozenui/js/lib/zeptojs/zepto.min.js"></script>
        <script src="./Public/frozenui/js/frozen.js"></script>
        <script src="./Public/wxmenu.js"></script>
        <script src="./Public/timeFormat.js"></script>
        <script src="./Public/json2.js"></script>
        <link rel="stylesheet" href="./Public/global.css">
        <script src="./Public/jquery.min.js"></script>
        <script src="./Public/jquery.session.js"></script>
        
        

        <style>
            #selectsex{height: 50px;  overflow: hidden; }
            #selectprice{height: 50px;  overflow: hidden; }
            #selectarea{height: 50px;  overflow: hidden; }
            .ui-container{margin-top: 5px;}
            .select li{height: 49px; background-color: white; border-bottom: #d9d9d9 1px solid; width: 80px; z-index: 10;}
            .ui-border-t{}
            .ui-border-tb .more{background-color: #f4f4f4; }
            .ui-list li{margin: 0;padding: 0;}
            .pic{margin: 5px;}
            .pic .tag{position: absolute; background-image: url("./Public/Kmic/tag5.png");
                background-repeat: no-repeat;background-size: 40px auto; left: 10px; top: 70px; width: 100px; color: white; font-size: 12px;
            padding-left: 8px;}
            .pic .tag2{position: absolute; background-image: url("./Public/Kmic/tag6.png");
                background-repeat: no-repeat;background-size: 40px auto; left: 10px; top: 90px; width: 100px; color: white; font-size: 12px;
            padding-left: 8px;}
            .pic .tag3{position: absolute; background-image: url("./Public/Kmic/tag7.png");
                background-repeat: no-repeat;background-size: 40px auto; left: 10px; top: 70px; width: 100px; color: white; font-size: 12px;
            padding-left: 8px;}
            .d1{background-image: url("./Public/Kmic/d1.png"); background-repeat: no-repeat;background-size: auto 18px;
            padding-left: 20px; background-position-y: 2px;}
            .d2{background-image: url("./Public/Kmic/d2.png"); background-repeat: no-repeat;background-size: auto 18px;
            padding-left: 20px; background-position-y: 2px;}
            .d3{background-image: url("./Public/Kmic/d3.png"); background-repeat: no-repeat;background-size: auto 18px;
            padding-left: 20px; background-position-y: 2px;  }
            .dt{background-image: url("./Public/Kmic/arrowUp.png"); background-repeat: no-repeat; background-position-y: 6px;
            background-position-x: 62px; background-size: auto 5px; width: 65px;}
            
            .f_windown 
                { 
                /*border:1px solid red;*/   
                position:fixed;
                
                
                /*bottom:0px;*/ 
                left:0px; 
                right:0px; 
                margin:auto auto; 
                height:100%; 
                width:100%; z-index: 10; 
            } 
            .f_windown .bg{
                position: absolute;
                height:100%; 
                width:100%; 
                -moz-opacity:0.8; /* Moz + FF 透明度20%*/
                opacity: 0.8; /* 支持CSS3的浏览器（FF 1.5也支持）透明度20%*/
                bottom:0; 
                background-color:#000000; z-index: -1; 
            }
            .ui-scroller #f_close{position: absolute; margin: 5px; right: 0; top: 8%;}
            .f_windown .title{background-color: #ff629a; color: white; padding: 5px;
                -moz-border-radius: 5px 5px 0 0;      /* Gecko browsers */
                -webkit-border-radius: 5px 5px 0 0;   /* Webkit browsers */
                border-radius:5px 5px 0 0;  
            }
            .ui-scroller {width:auto; margin:20% 20px auto 20px;overflow:hidden; background-color: #f4f4f4;
                -moz-border-radius: 5px;      /* Gecko browsers */
                -webkit-border-radius: 5px;   /* Webkit browsers */
                border-radius:5px;            /* W3C syntax */
            }
            .ui-scroller .c1{background-color: #ffffff; color: #989898; padding: 10px;}
            .ui-scroller .info{background-color: #ffffff; color: #989898; padding: 10px;margin-bottom: 10px; height: 50px; }
            .ui-scroller .info .name{margin:13px;  float: left;}
            .ui-scroller .c2{background-color: #ffffff; color: #989898; padding: 10px; margin-top: 10px; }
            /*.ui-scroller li {margin-bottom:10px;}*/
            
            #clear{clear:both; height: 0;}
            textarea {
                border:0;background:none;
                margin-top: 5px;
                width: 100%;height: 85%;
            }
        </style>
    </head>
    <body ontouchstart=""><header class="ui-header ui-border-b" style="background-color: white;">
            <ul class="ui-tiled" style="height: 50px; background-color: white; border-bottom: #d9d9d9 1px solid;">
            <li><div class="select" id="selectall">{$Think.lang.L_NEW}</div></li>
            <li><div class="select" id="selectsex"><ul><li>{$Think.lang.L_SEX}</li><li>{$Think.lang.L_SEX_M}</li><li>{$Think.lang.L_SEX_F}</li><li>不限</li></ul></div></li>
            <li><div class="select" id="selectprice"><ul><li>{$Think.lang.L_PRICE}</li><li>1K以下</li><li>1K-3K</li><li>3K-5K</li><li>不限</li></ul></div></li>
            <li><div class="select" id="selectarea"><ul><li>{$Think.lang.L_AREA}</li><li>北京市</li><li>上海市</li><li>广东省</li><li>浙江省</li><li>天津市</li><li>四川省</li><li>江苏省</li><li>其他</li></ul></div></li>
        </ul>
        </header>
        <input type="hidden" name="openid" value="{$Think.session.openid}" />
        <footer class="ui-footer ui-footer-btn">
            <ul class="ui-tiled ui-border-t">
                <li data-href="./?m=web&openid={$Think.get.openid}" class="ui-border-r"><a href="./?m=web&openid={$Think.get.openid}"><div>通告</div></a></li>
                <li data-href="./?m=web&a=announcement&openid={$Think.get.openid}" class="ui-   border-r"><a href="./?m=web&a=announcement&openid={$Think.get.openid}"><div>发通告</div></a></li>
                <li data-href="./?m=web&a=mine&openid={$Think.get.openid}"><a href="./?m=web&a=mine&openid={$Think.get.openid}"><div>我发布的</div></a></li>
            </ul>
        </footer>
        <section class="ui-container">
            <div class="f_windown" style="display:none;">
                <div class="bg"></div>
                
                <div class="ui-scroller">
                    <div id="f_close"><img src="./Public/Kmic/close.png" width="30"/></div>
                    <div class="title"></div>
                    <div class="info">
                        <div class="ui-avatar" style="float:left;">
                            <span class="headimgurl" style="background-image:url(http://placeholder.qiniudn.com/100x100)"></span>
                        </div>
                        <div class="name">发布人:</div>
                    </div>
                    <div class="c1">
                        <font size="4" color="#ff629a" class="price">{$Think.lang.L_CURRENCY_SIGN}元/天</font><br/>
                        <div style="float:left;" class="time">35分钟前</div><div style="float:right;" class="signuUp"></div>
                        <div id="clear"></div>
                    </div>
                    <div class="c2 sign">
                        <!--<div style=" border-left: 2px #ff629a solid; padding-left: 10px; margin-left: 5px; font-size: 16px;">活动描述</div>-->
                        
                        <div class="ui-form-item ui-form-item-show ui-border-b">
                            <label for="#">我的报价</label>
                            <input name="price" type="text" placeholder="输入价钱 / 元" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')" >
                        </div>
                    </div>
                    <div class="ui-btn-wrap sign" style="">
                        <button class="ui-btn-lg sent" style="background:#ff629a;color: white;" >
                            立刻报名
                        </button>
                    </div>
                </div>
            </div> 
            
            <ul class="ui-list ui-border-tb">
                <!--<li><div style="margin: 10px;padding: 10px; border: 1px gray solid;"><a href="">当您发一个通告会活的3积分,</a></div></li>-->
                <li>
                    <section class="ui-input-wrap ui-border-t" style="width:100%;">
                    <div class="ui-input ui-border-radius">
                        <input type="text" name="search" value="" placeholder="输入关键词">
                    </div>
                    <button class="ui-btn search">搜索</button>
                </section>
                </li>
            </ul>
            <ul class="ui-list ui-border-tb">
                <li><a href="https://itunes.apple.com/cn/app/kai-mai-zhu-chi/id1138672705?mt=8"><img src="Public/banner.jpg" width="100%"/></a></li>
            </ul>
            <ul class="ui-list ui-border-tb list">
                
            </ul>
            <div class="ui-loading-block show">
                <div class="ui-loading-cnt">
                    <i class="ui-loading-bright"></i>
                    <p>正在加载中...</p>
                </div>
            </div>
            <div class="ui-dialog">
                <div class="ui-dialog-cnt">
                    <div class="ui-dialog-bd">
                        <div>
                        <h4>标题</h4>
                        <div>内容</div></div>
                    </div>
                    <div class="ui-dialog-ft ui-btn-group">
                        <button type="button" data-role="button"  class="select" id="dialogButton<%=i%>">关闭</button> 
                    </div>
                </div>        
            </div>
        </section>
        <script src="./Public/frozenui/js/lib/zeptojs/zepto.min.js"></script>
        <script src="./Public/frozenui/js/frozen.js"></script>
        <script>
            $('.show').fadeOut();
            var el;
            var page = 0;
            
            
            var totalheight = 0;     //定义一个总的高度变量
            var isLoading = 0;
            var where = new Array();
            var isEnd = 0;
            
            if ($.session.get('selectArea')!=null) {
                page=0;
                where['area'] = $.session.get('selectArea');
                $('.list').html('');
                getPage();
            }else{
                getPage();
            }
            function loaddata()
            { //下拉加载
                totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());     //浏览器的高度加上滚动条的高度 

                if ($(document).height() <= totalheight)     //当文档的高度小于或者等于总的高度的时候，开始动态加载数据
                { 
                    //加载数据
            //        $("#container").append("我是新加载出来的数据<br/>");
                    if (isLoading == 0 && isEnd != 1) {
                        page++;
                        getPage(page,where);
                    }

                } 
            } 

            $(window).scroll( function() { 
                loaddata();
            }); 
            var level = '{$Think.session.level}';
            function getPage(){
                var string = '';
//                alert(where['area']);
                for (value in where){
                    if (where[value] != null) {
                        string += value+'='+where[value]+',';
                    }
                }
//                alert(string);
                $.ajax({
                    type: 'GET',
                    url: "?m=Web&a=announcementList",
                    data: {'page':page,'where':string},
                    complete:function(result){
//console.log('complete:function');
                    },
                    success: function(result){
                        $.each(result, function(i,val){
//                            console.log(val);
                            
                            
                            var time = getDateDiff(val.modify_time);
                            var sex = '';
                            if (val.sex==-1) {
                                sex = '不限';
                            }else if (val.sex==0) {
                                sex = '{$Think.lang.L_SEX_M}';
                            }else {
                                sex = '{$Think.lang.L_SEX_F}';
                            }
                            var price_h = '';
                            if (val.price_h != null) {
                                if (val.price_h.length >1) {
                                    price_h = "-"+val.price_h;
                                }
                            }
                            var price = ''
                            if (val.price  == -1 || val.price == 0) {
                                
                                price = '自报';
                            }else{
                                price = '{$Think.lang.L_CURRENCY_SIGN}'+val.price+price_h+'{$Think.lang.L_MONETARY_UNIT}';
                            }
                            
                            var original_desc = val.original_desc==null?'':val.original_desc;
                            var other_desc = val.other_desc==null?'':val.other_desc;
                            var activity_time = val.activity_time==null?'':val.activity_time;
                            if (activity_time.substring(5,10)=='00-00') {
                                activity_time = '';
                            }
                            //
                            var img_url = './Public/Kmic/noPic.png';
//                            console.log();
//                            alert(val.wx_info.headimgurl);
                            
                            
                            if (val.img_url != null) {
                                console.log(val);
                                var dataobj=eval("("+val.img_url+")");
//                            console.log(dataobj);
                                if (dataobj.length != '') {
//                                    console.log(dataobj[0]);
                                    var pic=html_decode(dataobj[0]).replace(new RegExp(/(")/g),"");
                                    var img_url = dataobj[0] =='' ?'./Public/Kmic/noPic.png':pic;
                                    if (val.type == 0) {
                                        img_url = dataobj[0] =='' ?val.wx_info.headimgurl:pic;
                                    }else{
                                        img_url = dataobj[0] =='' ?'./Public/Kmic/noPic.png':pic;
                                    }
                                    //val.wx_info.headimgurl
                                    
                                    console.log(img_url);
                                }
                                
                            }else{
                                
                            }
                            
                            //
                            var activity_type;
                            
//                            var statusCode = '';
                            if (val.status == 0) {
                                activity_type = val.activity_type==null?'<div class="tag">其他</div>':'<div class="tag">'+val.activity_type+'</div>';   
                            }else{
                                activity_type = val.status == 1?'<div class="tag3">结束</div>':'<div class="tag3">已聘</div>';
//                                if (val.status == 1) {
//                                    statusCode = '<div class="tag3">结束</div>';
//                                }else if (val.status == 2) {
//                                    statusCode = '<div class="tag3">已聘</div>';
//                                }
                            }
//                            var contact = '';
                            var echat ='';
                            var email ='';
                            var qq ='';
                            var phone ='';
                            if (val.echat.length >1) {
                                echat = '微信:'+val.echat;
                            }
                            if (val.email.length >1) {
                                email = 'Email:'+val.email;
                            }
                            if (val.qq.length >1) {
                                qq = 'QQ:'+val.qq;
                            }
                            if (val.phone.length >1) {
                                phone = '电话:'+val.phone;
                            }
                            var city ='';
                            if (val.city.length >1) {
                                city = val.city;
                            }else{
                                city = val.province;
                            }
                            var type = '';
                            var enroll = '';
                            if (val.type == 0) {
                                type = '<div class="tag2">一手</div>';
                                enroll = '<div style="position: absolute; right: 15px; top:45px;"><button class="ui-btn ui-btn-danger" onclick="open_f(\''+val.title+'\',\''+price+'\',\''+time+'\',\''+val.id+'\','+val.type+',\''+val.wx_info.nickname+'\',\''+escape(img_url)+'\','+val.status+');">\n\
                                报名\n\
                            </button></div>';
                            }
                            $('.list').append('<li class="ui-border-t" id="l'+val.id+'"><div class="pic" style="padding-top: 1px;" onclick="more('+val.id+',\''+escape(original_desc)+escape(other_desc)+'\',\''+escape(val.address)+'\',\''+escape(echat)+'\',\''+escape(email)+'\',\''+escape(qq)+'\',\''+escape(phone)+'\','+val.status+');">\n\
                            '+activity_type+type+'\n\
                            <div class="ui-avatar" >\n\
            <span style="background-image:url('+img_url+')"></span>\n\
        </div>\n\
                        </div>\n\
                        <div class="ui-list-info" >\n\
                            <h4 class="ui-nowrap">'+val.title+'</h4>\n\
                            '+enroll+'\n\
                            <p class="ui-nowrap d1">'+sex+'('+val.number+'名)</p>\n\
                            <p class="ui-nowrap d2">'+activity_time.substring(5,10)+' '+val.activity_time_input+'</p>\n\
                            <div><div style="float:left;"><p class="ui-nowrap d3">'+city+'</p></div>\n\
                                <div style="float:right; padding-right: 5px;"><div class="ui-badge-muted" style="background-color:gainsboro;">'+time+'</div></div></div>\n\
                            <div> \n\
                                <div style="float:left;"><a href="javascript:void(0);"><h2>'+price+'</h2></a></div>\n\
                                <div style="float:right;"><div class="ui-badge-muted dt" id="'+val.id+'" onclick="more('+val.id+',\''+escape(original_desc)+escape(other_desc)+'\',\''+escape(val.address)+'\',\''+escape(echat)+'\',\''+escape(email)+'\',\''+escape(qq)+'\',\''+escape(phone)+'\','+val.status+');">查看详情&nbsp;</div></div>\n\
                            </div>\n\
                        </div>\n\
                    </li>');
                        });
                        
                        $(".list").find("#loading").remove(); 
                        
                        if (result.length>0) {
                            $(".list").append('<li class="ui-border-t" id="loading"><img src="Public/Images/loading.gif" width="50"/></li>');
                        }else{
                            $(".list").append('<li class="ui-border-t" id="loading">没有更多</li>');
                            isEnd = 1;
                        }
                        isLoading = 0;
                        $('.show').fadeOut();
                    },
                    beforeSend: function(){
                        $('.show').fadeIn();

                    },
                    dataType: 'json'
                }); 
            }
            
            //
            
            
            
            //
            var listArr = new Array();
            
            function more(id,other_desc,address,echat,email,qq,phone,status){
//                window.location.href="?m=web&a=announcementShare&aid="+id; 
//                
                
                ga('send', 'event', 'ann', 'more', id);
                if (status == 1) {
                    alert('已经结束');
                    return;
                }else if (status == 2) {
                    alert('已经聘请');
                    return;
                }
                var contact = '<input name="contact" type="text" style="width:100%; border:0" value="';
                contact += echat.length >2?unescape(echat)+' ':'';
                contact += email.length >2?unescape(email)+' ':'';
                contact += qq.length >1?unescape(qq)+' ':'';
                contact += phone.length >1?unescape(phone)+' ':'';
                contact += '">';
                if (listArr['l'+id] != id) {
                    var html = '<li class="ui-border-t more" id="m'+id+'">\n\
                    <div class="ui-list-info" style="margin: 0 5px 0 5px;">\n\
                        <h4 class="ui-nowrap">详细要求</h4>\n\
                        <p style="">'+unescape(other_desc)+'</p>\n\
                        <h4 class="ui-nowrap">详细地址</h4>\n\
                        <p>'+unescape(address)+'</p>\n\
                        <div class="ui-btn-wrap contact'+id+'">\n\
                            <button class="ui-btn" onclick="checkContact('+id+')">\n\
                                获取联系方式\n\
                            </button>\n\
                        </div>\n\
                    ';
                    if (level == '10') {
                        html +='<p><div class="ui-btn ui-btn-danger" onclick="deleteData('+id+')">\n\
                                删除\n\
                            </div></p>';
                     }
                     html +='</div>\n\
                    </li>';
                    $('#l'+id).after(html);
                    listArr['l'+id] = id; 
                    
                    $('#'+id).css('background-image','url("./Public/Kmic/arrowDown.png")');
                }else{
                    listArr['l'+id] = -1; 
                    $('#'+id).css('background-image','url("./Public/Kmic/arrowUp.png")');
                    $('#m'+id).remove();
                }
            }
            
            $("#selectsex li").click(function(){
                if ($(this).index()>0) {
                    page=0;
                    if ($(this).index() == 1) {
                        where['sex'] = 0;
                    }else if ($(this).index() == 2) {
                        where['sex'] = 1;
                    }if ($(this).index() == 3) {
                        where['sex'] = null;
                    }
                    $('.list').html('');
                    getPage();
                }
            })
            $("#selectprice li").click(function(){
                if ($(this).index()>0) {
                    page=0;
                    if ($(this).index() == 1) {
                        where['price'] = '1';
                    }else if ($(this).index() == 2) {
                        where['price'] = '1-3';
                    }if ($(this).index() == 3) {
                        where['price'] = '3-5';
                    }if ($(this).index() == 4) {
                        where['price'] = '0';
                    }
                    $('.list').html('');
                    getPage();
                }
            })
            $("#selectarea li").click(function(){
                if ($(this).index()>0) {
                    page=0;
                    where['area'] = $(this).html();
                    $('.list').html('');
                    getPage();
                }
            })
            $("#selectall").click(function(){
                where = new Array();
                $('.list').html('');
                getPage();
            })
            //
            $('#selectsex').click(function(){
                if ($(this).css("overflow")=='hidden') {
                    $(this).css("overflow","visible");
                }else if ($(this).css("display")=='block') {
                    $(this).css("overflow","hidden");
                }
                
            $('#selectprice').css("overflow","hidden");
                $('#selectarea').css("overflow","hidden");
            });
            $('#selectprice').click(function(){
                if ($(this).css("overflow")=='hidden') {
                    $(this).css("overflow","visible");
                }else if ($(this).css("display")=='block') {
                    $(this).css("overflow","hidden");
                }
                $('#selectsex').css("overflow","hidden");
                $('#selectarea').css("overflow","hidden");
            });
            $('#selectarea').click(function(){
//                if ($(this).css("overflow")=='hidden') {
//                    $(this).css("overflow","visible");
//                }else if ($(this).css("display")=='block') {
//                    $(this).css("overflow","hidden");
//                }
//                $('#selectsex').css("overflow","hidden");
//                $('#selectprice').css("overflow","hidden");
                $.session.set('returnUrl', '?m=web&openid={$Think.session.openid}');
                location.href= '?m=web&a=area';
            });
            
            var selectedID = 0;
            var sendingTitle = '';
            function open_f(title,price,time,id,type,nickname,headimgurl,status){
                ga('send', 'event', 'ann', 'offerOpen', id);
                if (status == 1) {
                    alert('已经结束');
                    return;
                }else if (status == 2) {
                    alert('已经聘请');
                    return;
                }
                sendingTitle = title;
//                console.log(type);
                selectedID = id;
                $('.f_windown').css('display','block');
                $('.ui-scroller .title').html(title);
                $('.ui-scroller .price').html(price);
                $('.ui-scroller .time').html(time);
                
                //
                if (type == 0) {
                    $('.ui-scroller .sign').css('display','block')
                    $('.ui-scroller .info').css('display','block');
                    $('.ui-scroller .name').html('发布人:'+nickname);
                    $('.ui-scroller .headimgurl').css('background-image','url('+unescape(headimgurl)+')');
                    $.ajax({
                        type: 'GET',
                        url: "?m=web&action=signupcount&openid={$Think.session.openid}",
                        data: {'aid':selectedID},
                        success: function(result){
                            $('.ui-scroller .signuUp').html('一共有'+result+'人报名');
                        },
                        beforeSend: function(){

                        },
                        dataType: 'html'
                    }); 
                }else if (type == 1) {
                    $('.ui-scroller .sign').css('display','none');
                    $('.ui-scroller .info').css('display','none');
                    
                }
                
                
                
            }
            $('#f_close').click(function(){
                $('.f_windown').css('display','none');
            });
            //报价
            $('.sent').click(function(){
//                console.log(selectedID+'---'+$("input[name='price']").val() +'---'+'{$Think.session.id}');;
                if ($("input[name='price']").val()=='') {
                    alert('请输入一个价钱');
                    return;
                }
                ga('send', 'event', 'ann', 'offerSent', $("input[name='price']").val());
                $.ajax({
                    type: 'GET',
                    url: "?m=web&action=offer&openid={$Think.session.openid}",
                    data: {'price':$("input[name='price']").val(),'aid':selectedID,'title':sendingTitle},
                    success: function(result){
//                        console.log(result);
                        if (result.code==1) {
                            alert(result.msg);
                        }else if(result.code==2){
                            if(confirm(result.msg))
                            {
                                location.href= '?m=Center&c=profile&a=member&openid={$Think.session.openid}';
                            }
                        }else if(result.code==3){
                            if(confirm(result.msg))
                            {
                                location.href= '?m=web&a=profiles&openid={$Think.get.openid}';
                            }
                        }else{
                            alert('报名成功，请等待对方与您联系。');
                        }
                        $('.f_windown').css('display','none');
                        
                    },
                    beforeSend: function(){
                    },
                    dataType: 'json'
                }); 
            });
            
            
            (function() {
                
                var scroll = new fz.Scroll('.ui-scroller', {
                    scrollY: true
                });
//                 scroll.scrollTo(0, 200);

                // 若 offsetX 和 offsetY 都是 true，则滚动到元素位于屏幕中央的位置；
                scroll.scrollToElement("li:nth-child(3)", 1000, true, true);

            })();
            
            function html_decode(str)   
            {   
                var s = "";   
                if (str.length == 0) return "";   
                s = str.replace(/&gt;/g, "&");   
                s = s.replace(/&lt;/g, "<");   
                s = s.replace(/&gt;/g, ">");   
                s = s.replace(/&nbsp;/g, " ");   
                s = s.replace(/&#39;/g, "\'");   
                s = s.replace(/&quot;/g, "\"");   
                s = s.replace(/<br>/g, "\n");   
                return s;   
            }
            
            function deleteData(id){
                
                if(confirm("确定要删除数据吗？"))
                {
                    $.ajax({
                        type: 'GET',
                        url: "?m=web&a=deleteData",
                        data: {'id':id,'openid':$("input[name='openid']").val()},
                        success: function(result){
                            alert('删除成功,重进页面后会消除记录.');
                        },
                        dataType: 'json'
                    });
                }
            }
            $('.search').click(function(){
                var search = $("input[name='search']").val();
                if (search == '') {
                    alert('信息不能为空');
                    return;
                }
                where = new Array();
                page = 0;
                where['keyword'] = search;
                $('.list').html('');
                getPage(page,where);
                $("input[name='search']").val('');
            });
            function checkContact(id){
//                $('.contact'+id).html('df');
//                alert('开发中');
//                return;
                ga('send', 'event', 'ann', 'checkContact', id);
                $.ajax({
                    type: 'POST',
                    url: "?m=web&a=sentContact",
                    data: {'id':id,'action':'ann'},
                    success: function(result){
                        if (result.error == 2 ) {
                            if(confirm(result.msg))
                            {
                                
                                location.href= '?m=Center&c=profile&a=member&openid={$Think.session.openid}';
                            }
                        }else{
                            $('.contact'+id).html('<h4 class="ui-nowrap">联系方式</h4><ul><input name="contact" type="text" style="width:100%; border:0" value="'+result.msg+'"/><ul>');
                        }
                        
                    },
                    dataType: 'json'
                });
            }
            
          </script>
          <script src="./Public/ga.js"></script>
          
    </body>
</html>