<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="name" content="content">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>开麦 - 找主持，上开麦</title>

	<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
	<link rel="stylesheet" href="Public/index/css/reset.css">
	<link rel="stylesheet" href="Public/index/css/index.css">
</head>
<body>
	
	<section id="page1">
		<div class="logo">
			<img src="Public/index/images/logo.png" alt="logo">
		</div>
		
		<div class="page1_text">
			<p>主持通告</p>
			<p>尽在开麦主持</p>
			<a class="signup" href="#">立即报名</a>
		</div>

		<div class="page1_text1">
			<p>更多通告，更多机会</p>
			<p>尽在开麦</p>
		</div>

		<div class="img1">
			<img src="Public/index/images/phone_white.png" alt="phone_white">
		</div>
	</section>

	<section id="page2">
		<div class="page2_text">
			<p>主持人轻简历</p>
			<p>简单、方便、齐全</p>
		</div>
		<ul>
			<li><img src="Public/index/images/phone_white_left.png" alt=""></li>
			<li><img src="Public/index/images/phone_black.png" alt=""></li>
			<li><img src="Public/index/images/phone_black_right.png" alt=""></li>
		</ul>
	</section>

	<section id="page3">
		<div class="page3_text">
			<p class="pc-title">开麦的介绍</p>
			<p class="mobile-title">关于开麦</p>
			<p class="introduction1">开麦是一个专注于主持行业的O2O平台，帮助供需双方对接，减少信息不对称。</p>
			<p class="introduction2">平台活跃着众多来自各大城市的优秀主持人，也聚集了全国的主持通告，是主持人找商演活动，活动主办方/商家/企业找主持人的最佳选择。</p>
			</div>
	</section>

	<section id="page4">
		<div class="page4_text">
			<p>联系我们</p>
			<img class="mobile-qr" src="Public/index/images/qr.png" alt="">
			<p class="contact">地址：广东省广州市海珠区新港中路352号丽影广场C区会展时代716</p>
			<p class="contact">邮箱：kaimic@163.com</p>
		</div>

		<!-- <form action="">
			<input type="text" name="">
			<a href="">提交</a>
		</form> -->
	</section>

	<footer>
		<p>© 广州开演信息科技有限公司 2017 All Rights Reserved. 粤ICP备15111476号</p>
	</footer>
		
	<ul id="nav">
		<li class="selected"><a href="#page1"></a></li>
		<li><a href="#page2"></a></li>
		<li><a href="#page3"></a></li>
		<li><a href="#page4"></a></li>
	</ul>

	<div id="window">
		<div class="bg"></div>
		<img src="Public/index/images/qr.png" alt="">
	</div>
	<script src="Public/index/js/jquery.min.js"></script>
	<script src="Public/index/js/index.js"></script>
</body>
</html>